/**************************************************************************************************
***************************************************************************************************
style.css
***************************************************************************************************
Charles Santos
CS290 S15
Assignment 2
***************************************************************************************************
**************************************************************************************************/



body {
	font-size:		11px;
	font-family:	verdana, helvetica, arial, sans-serif;
}

table, th, td {
	border-collapse: 	collapse;
	border: 			1px solid #808080;
	font-size:			100%;
	padding: 			5px;
	padding-top: 		7px;
	padding-bottom: 	7px;
}

h1 {
	font-size:		28px;
	margin-top:		0px;
	font-weight:	normal;
}

h2 {
	font-size:		22px;
	margin-top:		10px;
	margin-bottom:	10px;
	font-weight:	normal;
}

#err {
	color:	#ff0000;
}